.header {
  background-color: bisque;
  height: 4rem;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
}

.game-board {
  max-width: 800px;
  padding: 1rem 0;
  justify-content: center;
  gap: 30px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 10%);
}

.card {
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: solid 5px rgb(167, 147, 36);
  background: linear-gradient(45deg, gold, #e8dd9e, gold);
}